.copy-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;  
  height: auto;
  background: linear-gradient(25deg,#003a73,#2f549f 48%,#003a73);
  font-size: 16px;
  font-family: Montserrat;
  text-align: center;
}

.copy-form h5 {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;     
  height: 85vh;
  background-image: url(../assets/FONDO1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;  
  height: auto;
  font-family: Montserrat;
  font-size: 16px;    
}

.formulario form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: auto;   
}

.form-container div input {  
  height: auto;
  font-size: 0.6em;
  text-align: center;
  margin: 40px 0 40px 0;
}

.form-container div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  font-size: 1.2em;  
  color: rgb(0, 0, 0);
  background: #ffa000;  
  animation: bounceIn;
  animation-duration: 2s;
  box-shadow: 1px 3px 10px rgb(0, 0, 0);   
}

.form-container div button:hover {
  background: linear-gradient(25deg,#003a73,#2f549f 48%,#003a73);
  color: rgb(255, 255, 255);
}





@media (min-width: 480px){
  .copy-form{
    font-size: 18px;
    padding: 20px 40px 20px 40px;
  }
  .form-container{
    padding: 0px 40px 0px 40px;
  } 
  .formulario{
    font-size: 25px;
  }  
}

@media (min-width: 760px){
  .copy-form{
    font-size: 30px;
  } 
  .form-container{
    padding: 0px 100px 0px 100px;
  } 
  .formulario{
    font-size: 30px;
  }
   
}

@media (min-width: 1366px){
  .copy-form{
    font-size: 60px;
  } 
  .form-container{
    padding: 0px 250px 0px 250px;
  } 
  .formulario{
    font-size: 48px;
  }
  .form-container div input{
    height: 8vh;
  }
  .form-container div button{
    height: 12vh;
  }
}


