.copy-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;  
  height: auto;
  background: linear-gradient(25deg,#003a73,#2f549f 48%,#003a73);
  font-size: 16px;
  font-family: Montserrat;
  text-align: center;
}

.copy-form h5 {
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30% 20px 80% 20px;     
  height: auto;
  background-image: url(../assets/FONDO1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.form-container p {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;  
  height: auto;
  font-family: Montserrat;
  font-size: 16px;    
}

.formulario form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: auto;   
}

.form-container div input {  
  height: auto;
  font-size: 0.6em;
  text-align: center;
  margin: 40px 0 40px 0;
}

.form-container div button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 40px 0;
  width: 100%;
  height: auto;
  font-size: 1.2em;  
  color: rgb(0, 0, 0);
  background: #ffa000;  
  animation: bounceIn;
  animation-duration: 2s;
  box-shadow: 1px 3px 10px rgb(0, 0, 0);   
}

.form-container div button:hover {
  background: linear-gradient(25deg,#003a73,#2f549f 48%,#003a73);
  color: rgb(255, 255, 255);
}





@media (min-width: 480px){
  .copy-form{
    font-size: 18px;
    padding: 20px 40px 20px 40px;
  }
  .form-container{
    padding: 20% 20px 50% 20px;  
  } 
  .form-container p {    
    font-size: 24px;    
  }
  .formulario{
    font-size: 25px;
  }  
}

@media (min-width: 760px){
  .copy-form{
    font-size: 30px;
    padding: 20px 110px 20px 110px;
  } 
  .form-container{
    padding: 20% 110px 20% 110px; 
  }
  .form-container p {    
    font-size: 36px;    
  } 
  .formulario{
    font-size: 30px;
  }
   
}

@media (min-width: 1366px){
  .copy-form{
    font-size: 40px;
    padding: 20px 170px 20px 170px;
  } 
  .form-container{
    padding: 6% 170px 6% 170px;
  }
  .form-container p {    
    font-size: 48px;    
  } 
  .formulario{
    font-size: 48px;
  }
  .form-container div input{
    height: 8vh;
  }
  .form-container div button{
    height: 12vh;
  }
}


