.boxFooter{
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,58,115);
    background: radial-gradient(circle, rgba(0,58,115,1) 0%, rgba(0,58,115,1) 50%, rgba(47,84,159,1) 100%);
    width: 100%;
    height: auto;   
    padding: 40px 0 40px 0;
}

.tamBloque{
    display: flex;
    justify-content: space-around;
    width:80%;
    justify-content:center;
}

.tamBloque a{   
    text-align: center;   
}

.tamBloque a img{   
    width:20%;    
}

@media (max-width: 720px) {    

    .tamBloque a img{   
        width:30%;    
    }
    
}

@media (max-width: 360px) {    

    .tamBloque a img{   
        width:40%;    
    }
    
}
