.boxFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/backgrounds/4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
}

.tamBloque {
  display: flex;
  justify-content: space-around;
  width: 80%;
  justify-content: center;
}

.tamBloque a {
  text-align: center;
}

.tamBloque a img {
  width: 20%;
}

@media (max-width: 720px) {
  .tamBloque a img {
    width: 30%;
  }
}

@media (max-width: 360px) {
  .tamBloque a img {
    width: 40%;
  }
}
